/*Base settings_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Heebo", sans-serif;
}

:root {
    --primary: #ff6464;
    --secondary: #00a8cc;
    --dark: #21243d;
    --light: #8695a4;
    --background: #ffffff;
}

a{
    text-decoration: none;
    
}

/*Header settings _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
}

.header__nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 27px 60px 27px 0px;
    gap: 34px;
}

.header__href{
    color: black;
    font-size: 20px;
    font-weight: normal;
    transition: 0.5s;
}
.header__href:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
/*Section "hero" settings _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
.hero{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    margin-top: 127px;
}
.hero__content{
    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: max-content;
    gap: 100px;
}
.hero__text{
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 18px;
}
.hero__h1{
    font-size: 44px;
    font-weight: bold;
    color:#21243d;
}
.hero__p{
    margin-top: 40px;
    font-size: 16px;
    font-weight: normal;
}
.hero__btn{
    width: 208px;
    height: 47px;
    background-color:#ff6464;
    color: white;
    font-size: 20px;
    font-weight: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
    border-radius: 4px;
    transition: 0.5s;
}
.hero__btn:hover{
    background-color: #ca7272;
    transition: 0.5s;
}
.hero__image{
    height: max-content;
    display: inline-block;
    position: relative;
}

.hero__photo{
    width: 243px;
    height: 243px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-self: end;

}
.hero__image__background{
    width: 243px;
    height: 243px;
    background-color: #EDF7FA;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    top: 10px;
    left: -10px;
    display: flex;
    justify-self: end;
}




/*Section "recent-posts" settings _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
.recent-posts{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    margin-top: 71px;
    background-color: #EDF7FA;
}
.recent__posts__content{
    width: 80%;
    height: max-content;
}
.recent__posts__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 16px 0px;
    
}
.recent__posts__h2{
    display: flex;
    justify-self: start;
    font-size: 22px;
    font-weight: normal;
}
.recent__posts__a{
    display: flex;
    justify-self: end;
    color: #00a8cc;
    font-size: 16px;
    font-weight: normal;
    transition: 0.5s;
}
.recent__posts__a:hover{
    font-size: 20px;
    transition: 0.5s;
}
.posts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 32px;
}


                /*____Posts___*/
.first__post{
    display: flex;
    width: 45%;
    height: max-content;
    background-color: white;
    border-radius: 4px;
    padding: 24px 24px 24px 24px;
    justify-content: start;
}
.first__post__content{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.first__post__content__h3{
    font-size: 26px;
    font-weight: bold;
    color: #21243d;
}
.first__post__date{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 26px;
}
.first__post__text{
    font-size: 16px;
    font-weight: normal;
    margin-top: 26px;
}
.second__post{
    display: flex;
    width: 45%;
    height: max-content;
    background-color: white;
    border-radius: 4px;
    padding: 24px 24px 24px 24px;
    justify-content: start;
}
.second__post__content{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.second__post__content__h3{
    font-size: 26px;
    font-weight: bold;
    color: #21243d;
}
.second__post__date{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 26px;
}
.second__post__text{
    font-size: 16px;
    font-weight: normal;
    margin-top: 26px;
}

/*Section "featured-works" settings _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
.featured-works{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}
.featured__works__content{
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: column;
}
.featured__works__content__h2{
    font-size: 22px;
    font-weight: normal;
    padding: 28px 0px 36px 0px;
}
.featured__works__articles{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}


        /*______posts______*/
.first__feature__work__content{
    display: flex;
    flex-direction: row;
    padding-bottom: 18px;
    border-bottom: solid 1px #E5E5EA;
}
.first__feature__work__text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 0px 0px 18px;
    font-size: 16px;
    font-weight: normal;
}
.first__featured__work__date__and__type{
    display: flex;
    flex-direction: row;
    gap: 26px;
}
.featured__work__type{
    color: #8695A4;
    font-size: 20px;
    font-weight: normal;
}
.featured__work__date{
    width: 62px;
    height: 24px;
    background-color: #142850;
    border-radius: 25px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
}
.featured__work__h3{
    font-size: 30px;
    font-weight: bold;
}

.second__feature__work__content{
    display: flex;
    flex-direction: row;
    padding-bottom: 18px;
    border-bottom: solid 1px #E5E5EA;
    margin-top: 32px;
}
.second__feature__work__text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 0px 0px 18px;
    font-size: 16px;
    font-weight: normal;
}
.second__featured__work__date__and__type{
    display: flex;
    flex-direction: row;
    gap: 26px;
}
.featured__work__type{
    color: #8695A4;
    font-size: 20px;
    font-weight: normal;
}
.featured__work__date{
    width: 62px;
    height: 24px;
    background-color: #142850;
    border-radius: 25px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
}
.featured__work__h3{
    font-size: 30px;
    font-weight: bold;
}

.third__feature__work__content{
    display: flex;
    flex-direction: row;
    padding-bottom: 18px;
    border-bottom: solid 1px #E5E5EA;
    margin-top: 32px;
}
.third__feature__work__text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 0px 0px 18px;
    font-size: 16px;
    font-weight: normal;
}
.third__featured__work__date__and__type{
    display: flex;
    flex-direction: row;
    gap: 26px;
}
.featured__work__type{
    color: #8695A4;
    font-size: 20px;
    font-weight: normal;
}
.featured__work__date{
    width: 62px;
    height: 24px;
    background-color: #142850;
    border-radius: 25px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
}
.featured__work__h3{
    font-size: 30px;
    font-weight: bold;
}

/*_ _ _ _ _ _ _ _ _ _ _ _ _ Footer settings_ _ _ _ _ _ _*/
footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 134px;
}
.footer__nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 35px;
    justify-content: center;
}
.copyright{
    font-size: 14px;
    font-weight: normal;
    color:#21243d;
    margin-top: 26px;
    margin-bottom: 54px;
    text-align: center;
}
