/*Base settings_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary: #ff6464;
    --secondary: #00a8cc;
    --dark: #21243d;
    --light: #8695a4;
    --background: #ffffff;
}

a{
    text-decoration: none;
}


/*Header settings _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
}

.header-nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 27px 60px 27px 0px;
    gap: 34px;
}

.header-href{
    color: black;
    font-size: 20px;
    font-weight: normal;
}

/*Section "hero" settings _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
.hero{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    margin-top: 127px;
}
.hero-content{
    display: flex;
    flex-direction: row;
    flex-direction: row;
    width: 80%;
    height: max-content;
    gap: 100px;
}
.hero-text{
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 18px;
}
.hero-h1{
    font-size: 44px;
    font-weight: bold;
    color:#21243d;
}
.hero-p{
    margin-top: 40px;
    font-size: 16px;
    font-weight: normal;
}
.hero-btn{
    width: 208px;
    height: 47px;
    background-color:#ff6464;
    color: white;
    font-size: 20px;
    font-weight: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
}
.hero-image{
    width: 50%;
    height: max-content;
    display: inline-block;
    position: relative;
}

.hero-photo{
    width: 243px;
    height: 243px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-self: end;

}
.hero-image-background{
    width: 243px;
    height: 243px;
    background-color: #EDF7FA;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    top: 10px;
    right: 10px;
    display: flex;
    justify-self: end;
}




/*Section "recent-posts" settings _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
